---
layout: page
title: "Rock Climbing"
category: knowledge-centre
slug: rock-climbing
post_id: 376
excerpt_separator: Rock climbing and how to treat climbing injuries by massage therapist Kitchener
meta_keywords: Kitchener massage therapy, Kitchener massage therapist, massage therapist Kitchener , massage therapy Kitchener, Kitchener registered massage therapy, Kitchener registered massage therapist, registered massage therapist Kitchener , registered massage therapy Kitchener, Deep tissue massage, massage, sports massage, Kitchener sports massage, massage therapy, massage therapist, registered massage therapist, registered massage therapy, sports massage, rock climbing injury, rock climbing
---
{% for post in site.posts %}
	{% if post.layout != "redirect" %}
		{% if post.category == "rock_climbing" or post.post_id == 318 %}
		<p>
			<h4>{{ post.title }}</h4>
			<div class="date">{{ post.date | date_to_string }}</div>
			{{ post.excerpt }} ...<a title="Read More" href="{{site.url}}{{post.url}}">read more...</a>
		</p>
	  {% endif %}
	{% endif %}
{% endfor %}

{% for page in site.pages %}
	{% if page.post_id == 316 %}
	  <h4>{{ page.title }}</h4>
	  <!-- <p class="author">
	    <span class="date">{{ page.date | date_to_string }}</span>
	  </p> -->
	  <div class="content">
	  	<p>I started rock climbing in 1997 when I was 20 years old. I started <a href="http://www.grandriverrocks.com/Pages/Home.aspx">climbing in the gym </a>before I ventured outside top-roping and sport climbing a year later. Now I’m a dad, a husband, and a <a href="{{site.url}}/">massage therapist</a>, but I still love to climb and I plan to climb for the rest of my life....<a href="{{site.url}}/about/rock-climbing-as-a-lifestyle/index.html">read more...</a></p>
	  </div>
  {% endif %}
{% endfor %}