<h4>Send Message</h4>

<div id="footer-contact-form-result" data-notify-type="success" data-notify-msg="<i class=icon-ok-sign></i> Message Sent Successfully!"></div>

<form id="footer-contact-form" name="footer-contact-form" action="https://formspree.io/jeremy@kwmassage.com" method="post" class="nobottommargin">

    <div class="form-process"></div>
    <div class="input-group divcenter">
        <span class="input-group-addon"><i class="icon-user"></i></span>
        <input type="text" class="required form-control input-block-level" id="footer-contact-form-name" name="footer-contact-form-name" value="" placeholder="Full Name" />
    </div>
    <div class="input-group divcenter">
        <span class="input-group-addon"><i class="icon-email2"></i></span>
        <input type="text" class="required form-control email input-block-level" id="footer-contact-form-email" name="footer-contact-form-email" value="" placeholder="Email Address" />
    </div>
    <textarea class="required form-control input-block-level short-textarea" id="footer-contact-form-message" name="footer-contact-form-message" rows="4" cols="30" placeholder="Message"></textarea>
    <input type="text" class="hidden" id="footer-contact-form-botcheck" name="footer-contact-form-botcheck" value="" />
    <button type="submit" id="footer-contact-form-submit" name="footer-contact-form-submit" class="btn btn-danger fright nomargin" value="submit">Send Email</button>
</form>

<!-- <script type="text/javascript">
    $("#footer-contact-form").validate({
        submitHandler: function(form) {
            $(form).animate({ opacity: 0.4 });
            $(form).find('.form-process').fadeIn();
            $(form).ajaxSubmit({
                target: '#footer-contact-form-result',
                success: function() {
                    $(form).animate({ opacity: 1 });
                    $(form).find('.form-process').fadeOut();
                    $(form).find('.form-control').val('');
                    $('#footer-contact-form-result').attr('data-notify-msg', $('#footer-contact-form-result').html()).html('');
                    SEMICOLON.widget.notifications($('#footer-contact-form-result'));
                }
            });
        }
    });
</script>

to revert back to php mailer incert: /include/footercontact.php in the form action  -->