<div id="header">
  <div class="header_wrap">
    <!-- logo -->
    <div id="logo">
      <a href="{{site.baseurl}}" title="Welcome To KW: Kitchener / Waterloo Massage Therapy">
        <img src="{{site.baseurl}}/assets/images/logo.png" alt="KW: Kitchener / Waterloo Massage Therapy">
      </a>
    </div>
    <!-- logo -->
    
    <!-- tagline -->
    <div id="tagline"><span>Kitchener / Waterloo Massage Therapy</span></div>
    <!-- tagline -->
    
    <!-- contact bar -->
    <div id="contactbar">
      <span>Telephone: <strong>519-745-4112</strong></span>
      <span>Email:<strong><a href="mailto:jeremy@kwmassage.com">jeremy@kwmassage.com</a></strong></span>
    </div>
    <!-- contact bar -->
     
    <div class="clear">&nbsp;</div>
    
    {% include navigation.html %}
    
  </div>
</div>
