<!-- Header
============================================= -->
<header id="header" class="transparent-header" data-sticky-class="not-dark" data-responsive-class="not-dark">
  <div id="header-wrap">
    <div class="container clearfix">

      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

      <!-- Logo
      ============================================= -->
      <div id="logo">
        <a href="{{site.url}}/index.html" title="Kitchener Massage Therapy Home Page" class="standard-logo" data-dark-logo="{{site.url}}/assets/images/logo_kitchener_massage.png"><img src="{{site.url}}/assets/images/logo_kitchener_massage.png" alt="Kitchener Massage Therapist, logo"></a>
      </div>
      <!-- #logo end -->

      <!-- Nagigation -->
      {% include home_page_nav.html %}
      <!-- End Nagigation -->

    </div>
  </div>  
</header>
<!-- #header end -->
<script type="text/javascript">
// var mySwiper = new Swiper('.swiper-container', {
//     speed: 400,
//     autoResize: false
// }); 
</script>
<section id="slider" class="slider-parallax swiper-wrapper full-screen clearfix" style="background: url('{{site.url}}/assets/images/bg_body_mountain.jpg') center; backgroung-repeat: no-repeat; overflow: visible; background-size: cover;" data-height-lg="650" data-height-md="550" data-height-sm="550" data-height-xs="550" data-height-xxs="550">
  <div class="swiper-container">
    <div class="swiper-wrapper">

      <!--First Slide-->
      <div class="swiper-slide">

        <!-- Picture -->
        <div style="top: 0px !important" class="slider-caption leftmargin-lg notopmargin hidden-sm hidden-xs hidden-xxs">
          <a href="http://www.youtube.com/watch?v=XSRrvEXZSdk" data-lightbox="iframe">
            <img alt="Welcome video; Jeremy Bissonnette, Kitchner Massage Therapist" src="{{site.url}}/assets/images/picture_kitchener_massage_therapist.png">
          </a>
        </div>
        <!-- Picture -->

        <div style="top: 0px !important" class="slider-caption slider-caption-right notopmargin">
          {% include tabs.html %}
        </div>

      </div>
    </div>
  </div>
</section>

