<!-- Header
============================================= -->
<header id="header" class="transparent-header" data-sticky-class="not-dark" data-responsive-class="not-dark">
  <div id="header-wrap ">
    <div class="container clearfix">

      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

      <!-- Logo
      ============================================= -->
      <div id="logo">
        <a href="index.html" class="standard-logo" data-dark-logo="assets/images/logo_kitchener_massage.png"><img src="assets/images/logo_kitchener_massage.png" alt="Kitchener Massage Therapist"></a>
      </div>
      <!-- #logo end -->

      <!-- Nagigation -->
      {% include nav.html %}
      <!-- End Nagigation -->

    </div>
  </div>  
</header>
<!-- #header end -->




<!-- Header Slider With Picture and tabs -->
<section id="slider" class="slider-parallax full-screen " style="background: url('assets/images/bg_body_mountain.jpg') center; backgroung-repeat: no-repeat; overflow: visible; background-size: cover;" data-height-lg="600" data-height-md="500" data-height-sm="400" data-height-xs="300" data-height-xxs="250">
  <div id="inline-block" >

    <!-- Picture -->
    <div class="vertical-middle hidden-sm">
      <div class="container clearfix">             
          <img style="float: left;" src="assets/images/img_video.png">
      </div>
    </div>   
    <!-- Picture -->

    <!-- Start Tabs -->
    <div dir="rtl" class="vertical-middle">
      {% include tabs.html%}
    </div>   
    <!-- Tabs Ends -->

  </div>
</section>
<!-- Header Slider With Picture and tabs -->



