<!-- Header
============================================= -->
<header id="header" class="" style="background: url('{{site.url}}/assets/images/bg_body_mountain.jpg') ; backgroung-repeat: no-repeat; background-size: cover;" data-sticky-class="dark" data-responsive-class="dark">
  <div id="header-wrap">
    <div class="container clearfix">

      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

      <!-- Logo
      ============================================= -->
      <div id="logo">
        <a href="/index.html" class="standard-logo" data-dark-logo="{{site.url}}/assets/images/logo_kitchener_massage.png"><img src="{{site.url}}/assets/images/logo_kitchener_massage.png" alt="Kitchener Massage Therapist"></a>
      </div>
      <!-- #logo end -->

      <!-- Nagigation -->
      {% include page_nav.html %}
      <!-- End Nagigation -->

    </div>
  </div>  
</header>
<!-- #header end -->

<!-- Page Title
    ============================================= -->
    <section id="page-title" class="page-title-dark">

      <div class="container clearfix">
        <h1>Kitchener Massage Therapy</h1>
        <span>{{page.title}}</span>
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="#">Shortcodes</a></li>
          <li class="active">Page Titles</li>
        </ol>
      </div>

    </section><!-- #page-title end -->
