
<!-- COVID Button-->
<a href="{{site.baseurl}}/generalmassagetherapy/covid-19" title="Schedule Massage Therapy Appointment Now" style="margin: 10px" class="btn btn-danger fright">Covid-19 Update</a>
<!-- End COvid -->

<!-- Hours  -->
{% include timebox.html %}
<!-- Hours End -->

<!-- Rates -->
{% include ratebox.html %}
<!-- Rates End -->

<div class="clearfix"></div>


<!-- Schedule Now Button -->
<div>
	<a href="{{site.baseurl}}/clinic-information/index.html" title="Schedule Massage Therapy Appointment Now" style="margin: 10px" class="btn btn-danger fright">Schedule Now</a>
	<a href="https://www.google.ca/search?authuser=1&source=hp&ei=kafZW_SpLZCp5wLY2ZvYBw&q=kitchener%20massage%20therapy&oq=kitchener+massage+therapy&gs_l=psy-ab.3..0j0i22i30k1l7j38l2.2600.6429.0.6948.26.17.0.8.8.0.191.1672.10j6.16.0....0...1c.1.64.psy-ab..2.24.1732.0..0i131k1.0.MPijVrvqgqY&npsic=0&rflfq=1&rlha=0&rllag=43456213,-80452137,1197&tbm=lcl&rldimm=4280028541904649170&ved=2ahUKEwjm4Pas3rDeAhWKjFkKHbEvDXoQvS4wAHoECAQQLQ&rldoc=1&tbs=lrf:!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2#lrd=0x882bf4946918d4f9:0x3b65b74844c27bd2,3,,,&rldoc=1&rlfi=hd:;si:4280028541904649170;mv:!3m12!1m3!1d23173.66859490525!2d-80.45746170000001!3d43.44580034999999!2m3!1f0!2f0!3f0!3m2!1i461!2i384!4f13.1;tbs:lrf:!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2" title="Leave a review for KW Massage" style="margin: 10px" class="btn btn-danger fright">Leave a Review</a>
</div>
<!-- Schedule Now Button Ends -->
<div class="clearfix"></div>

<!-- CMTO Logo -->
<div class="testimonial bottommargin-sm">
	<a href="https://www.cmto.com/" target="_blank" title="College of Massage Therapists of Ontario"><img alt="College of Massage Therapists of Ontario" class="attachment-200x105" style="max-width: 100%;" src="{{site.url}}/assets/images/cmto-logo.jpg"></a>
</div>

<!-- RMTAO Logo --> 
<!-- not a succure site - remove until  -->
<!-- <div class="testimonial bottommargin-sm">
	<a href="http://www.rmtao.com/" target="_blank" class="widget_sp_image-image-link" title="Registered Massage Therapists Association of Ontario"><img alt="Registered Massage Therapists Association of Ontario" class="attachment-full" style="max-width: 100%;" src="{{site.url}}/assets/images/rmtao_logo_english_lead.gif"></a>
</div>