<div id="rightcol">
  {% if page.layout == "post" %}
    <h1>{{ page.title }}</h1>
  {% endif %}
  
  {{content}}

  <div id="formbox">
    <form id="contactform" action="//formspree.io/jeremy@kwmassage.com" method="POST">
      <h1>Contact Form</h1>
      <div class="textfield" >
        <span>Your Name (required)</span>
        <input type="text" name="your-name" value="" size="40" class="input" aria-required="true" aria-invalid="false">
      </div>
      <div  class="textfield">
        <span>Your Email (required)</span>
        <input type="email" name="_replyto" value="" size="40" class="input" aria-required="true" aria-invalid="false">
      </div>
      <div  class="textfield">
        <span>Subject</span>
        <input type="text" name="your-subject" value="" size="40" class="input" aria-invalid="false">
      </div>
      <div  class="textarea">
        <span>Your Message</span>
        <textarea name="your-message" cols="40" rows="10" class="input" aria-invalid="false"></textarea>
        <input type="submit" value="Send" class="send">
      <img class="ajax-loader" src="./KWmassage _ welcome_page_files/ajax-loader.gif" alt="Sending ..." style="visibility: hidden;">
      <div class="clearbutton"></div>
      </div>
    </form>
  </div>
</div>
