<!-- Start Tabs -->

<div class="container clearfix notopmargin">             
  <div class="tabs travel-organiser-tabs">
  <!-- Tabs Nav-->
    <ul style="max-width: 471px;" class="tab-nav topmargin clearfix">
      <li><a href="#tab-welcome"><span class="hidden-md hidden-sm hidden-xs hidden-xxs">Welcome</span><i class="icon-comment2"></i></a></li>
      <li class="hidden-lg hidden-md"><a href="#tab-picture"><i class="icon-line-head"></i></a></li>
      <li><a href="#tab-hours"><span class="hidden-md hidden-sm hidden-xs hidden-xxs">Hours</span><i class="icon-table"></i></a></li>
      <li><a href="#tab-rates"><span class="hidden-md hidden-sm hidden-xs hidden-xxs">Rates</span><i class="icon-dollar"></i></a></li>
      <li><a href="#tab-contact-form"><span class="hidden-md hidden-sm hidden-xs hidden-xxs">Email</span><i class="icon-gmail"></i></a></li>
    </ul>
    <!-- Tabs Nav -->
    <!-- Tabs -->
    <div style="max-width: 471px;" class="tab-container">

      <div dir="lft" class="tab-content clearfix center" id="tab-welcome">
        <div class="heading-block nobottomborder bottommargin-sm clearfix">
          <h3 style="color: #006cb8;" class="fleft">Kitchener Massage Therapy</h3>
          <div class="clear"></div>
        </div>        
        <span style="font-size: 20px; line-height: 20px" class="hidden-xs hidden-xxs">Specializing in Deep Tissue Massage and Trigger Point Release Therapy to bring you the relief you need from repetitive strain injuries and postural dysfunctions related to sports, the workplace, and family life.</span>
        <span style="font-size: 16px; " class="hidden-lg hidden-md hidden-sm">Specializing in Deep Tissue Massage and Trigger Point Release Therapy to bring you the relief you need from repetitive strain injuries and postural dysfunctions related to sports, the workplace, and family life.</span>
        <hr>   
        <div class="row">
          <div class="col_full noheight ">
            <a href="{{site.baseurl}}/clinic-information" title="Schedule Massage Therapy Appointment Now" class="btn btn-danger fright nomargin">Schedule Now</a>
          </div>
        </div>
      </div>

      <div class="tab-content clearfix center hidden-lg hidden-md" id="tab-picture">          
        <a href="https://www.youtube.com/watch?v=XSRrvEXZSdk" data-lightbox="iframe">
          <img class="center" src="{{site.url}}/assets/images/picture_kitchener_massage_therapist.png" alt="Kitchener Massage Therapist, Picture">
        </a>
      </div>

      <div dir="lft" class="tab-content clearfix" id="tab-hours">

        <div style="font-size: 16px; line-height: 18px" data-class-lg="rightmargin-sm leftmargin-sm" data-class-md="rightmargin-sm leftmargin-sm" data-class-sm="rightmargin-sm leftmargin-sm" data-class-xs="rightmargin-sm leftmargin-sm" data-class-xxs="">
          {% include timebox.html %}
        </div>
        <div class="row">
          <div class="col_full noheight">
            <a href="{{site.baseurl}}/clinic-information" title="Schedule Massage Therapy Appointment Now" class="btn btn-danger fright nomargin">Schedule Now</a>
          </div>
        </div>
      </div>
      <div dir="lft" class="tab-content clearfix" id="tab-rates">

        <div style="font-size: 16px; line-height: 18px" data-class-lg="rightmargin-lg leftmargin-lg" data-class-md="rightmargin-lg leftmargin-lg" data-class-sm="rightmargin-lg leftmargin-lg" data-class-xs="rightmargin-sm leftmargin-sm" data-class-xxs="">
          {% include ratebox.html %}
        </div>
        <div class="row">
          <div class="col_full noheight">
            <a href="{{site.baseurl}}/clinic-information" title="Schedule Massage Therapy Appointment Now" class="btn btn-danger fright nomargin">Schedule Now</a>
          </div>
        </div>
      </div>

      <div dir="lft" class="tab-content clearfix" id="tab-contact-form">      
        <div class="widget quick-contact-widget"> 
          {% include contact_form.html %}
        </div>                     
      </div>

    </div>
    <!-- Tabs -->
  </div>
</div>

<!-- Tabs Ends -->