<!DOCTYPE html>
<html lang="en-US">
  {% include page_head.html %}
  <body class="stretched">
  {% include google_tag %}
  <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix" style="margin-left: -15px; margin-right: 0">

      {% include home_page_header.html %}
      {{content}}
      {% include page_footer.html %}

    </div>
    <!-- Footer Scripts
    ============================================= -->
    <script type="text/javascript" src="{{site.url}}/js/functions.js"></script>

  </body>
</html>
