<!DOCTYPE html>
<html lang="en-US">
  {% include page_head.html %}
  <body class="stretched">
  {% include google_tag %}
  <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix" data-class-lg="homepage_margin_adjust" data-class-md="homepage_margin_adjust" data-class-sm="homepage_margin_adjust" data-class-xs="homepage_margin_adjust" data-class-xxs="">

      {% include home_page_header.html %}
      {{content}}
      {% include page_footer.html %}

    </div>
    <!-- Footer Scripts
    ============================================= -->
    <script type="text/javascript" src="{{site.url}}/js/functions.js"></script>

  </body>
</html>
