<!DOCTYPE html>
<html lang="en-US">
  {% include page_head.html %}
  <body class="stretched">
  <div>Test me 4</div>
  {% include google_tag %}
  <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix" style="margin-left: -20px;">

      {% include home_page_header.html %}
      {{content}}
      <div style="width: 101%">{% include page_footer.html %}</div>

    </div>
    <!-- Footer Scripts
    ============================================= -->
    <script type="text/javascript" src="{{site.url}}/js/functions.js"></script>

  </body>
</html>
