<!DOCTYPE html>
<html lang="en-US">
  {% include page_head.html %}
  <body class="stretched">
  <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

      {% include page_header.html %}
      {% include page_content.html %}
      {% include page_footer.html %}

    </div>
    <!-- Footer Scripts
    ============================================= -->
    <script type="text/javascript" src="js/functions.js"></script>

  </body>
</html>
