<!DOCTYPE html>
<html lang="en-US">
{% include page_head.html %}
<body class="stretched">
{% include google_tag %}
  <!-- Document Wrapper
  ============================================= -->
  <div id="wrapper" class="clearfix">

    {% include page_header.html %}

    <!-- Page Title and content
    ============================================= -->
    <section id="page-title" class="page-title-parallax notoppadding" style="background-repeat: no-repeat; background-color: white;" data-class-lg="lg-bg-image" data-class-md="lg-bg-image" data-class-sm="lg-bg-image" data-class-xs="lg-bg-image" data-class-xxs="sm-bg-image">

      <div id="turn_background_white" class="content-wrap">
        <div class="container clearfix notopmargin">


          <!-- Right Col -->
          <div class="postcontent nobottommargin col_last clearfix">
            <div class="single-post nobottommargin slider-caption-bg slider-caption-bg-light">
              <div class="entry clearfix">
                <div class="entry-content notopmargin">

                  {{content}}

                </div>
              </div>
            </div>
          </div>
          <!-- Right Col Ends -->

          <!-- Sidebar
          ============================================= -->
          <div class="sidebar nobottommargin clearfix" data-class-sm="noleftpadding">
            <div class="sidebar-widgets-wrap slider-caption-bg slider-caption-bg-light" data-class-lg="" data-class-md="" data-class-sm="sidebar_sm" data-class-xs="" data-class-xxs="">

              <div class="widget clearfix">
                {% if page.post_id == 7 %}
                  {% include appointments_leftcol.html %}
                {% else %}
                  {% include page_leftcol.html%}                
                {% endif %}
              </div>

            </div>
          </div>
          <!-- .sidebar end -->


        </div>
      </div>
    </section>
    <!-- #page-title and content end -->


    <!-- Footer -->
    {% include page_footer.html %}
    <!-- Footer end -->
  </div>
  <!-- Footer Scripts
  ============================================= -->
  <script type="text/javascript" src="{{site.url}}/js/functions.js"></script>

</body>
</html>
