<!DOCTYPE html>
<html lang="en-US">
  {% include page_head.html %}
  <body class="stretched">
  <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

      {% include page_header.html %}
      
    <!-- Page Title and content
    ============================================= -->
    <section id="content" class="" style="background-image: url('{{site.url}}/assets/images/bg_body_mountain.jpg'); background-repeat: no-repeat; ">
      <div class="content-wrap">
        <div class="container clearfix notopmargin">

          <!-- Right Col -->
          <div class="postcontent nobottommargin col_last clearfix">
            <div class="single-post nobottommargin slider-caption-bg slider-caption-bg-light">
              <div class="entry clearfix">
                <div class="entry-content notopmargin">

                  {{content}}

                </div>
              </div>
            </div>
          </div>
          <!-- Right Col Ends -->

          <!-- Sidebar
          ============================================= -->
          <div class="sidebar nobottommargin clearfix">
            <div class="sidebar-widgets-wrap slider-caption-bg slider-caption-bg-light">

              <div class="widget clearfix">
                {% if page.post_id == 7 %}
                  {% include appointments_leftcol.html %}
                {% else %}
                  {% include page_leftcol.html%}                
                {% endif %}
              </div>

            </div>
          </div>
          <!-- .sidebar end -->

        </div>
      </div>
    </section>
    <!-- #page-title and content end -->


    <!-- Footer -->
    {% include page_footer.html %}
    <!-- Footer end -->
    </div>
    <!-- Footer Scripts
    ============================================= -->
    <script type="text/javascript" src="{{site.url}}/js/functions.js"></script>

  </body>
</html>
